Package: yggdrasilleon-dbgsym
Package-Type: ddeb
Source: yggdrasilleon
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Souradip Patra spectralphoenix.dev@gmail.com
Installed-Size: 481
Depends: yggdrasilleon (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for yggdrasilleon
Build-Ids: 42e9a0cb14df9d78f254d5ef11a7d565490180c0
